.header{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    width: 110%;
    text-align: center;
    background-image: linear-gradient(180deg, #329836,#329836, #329836, #329836, #5ca853, #7fb970, #9ec98e, #bcdaad, #cce0b9, #dae6c7, #e7edd6, #eaebd5, #ece8d4, #eee6d4, #efe4d4);
    background-size: 150% 220%;
    padding: 50px ;
    border-bottom-left-radius:50% ;
    border-bottom-right-radius:50% ;
}

.logo{
    width:100px;
}


.headerContainer{
    max-width: 500px;
    margin: auto;
    color: white;
    animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
    0%{opacity: 0; transform: translateY(-100%);}
    100%{opacity: 1; transform: translateY(0);}
}