.cardContainer{
    box-sizing: border-box;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 10px;
    h2, h3, h4, h5, h6 {
        margin: 10px 0px;
    }
}