@import './globalstyles.scss';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6fdf4;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $body-font;
  overflow-x: hidden;
}

h1 {
  font-family: $header-font;
  font-size: 4em;
  color: white;
  margin: 20px;
}

h2, h3, h4, h5, h6 {
  font-family: $header-font;
}

p, button {
  font-family: $body-font;
}
